<mat-card class="question-card">
    <mat-card-title>Question: {{ index }} / {{ limit }}</mat-card-title>
    <mat-card-content>
        <p>{{ track.album.artists[0].name }} "{{ track.name }}"</p>
        <iframe [src]="spotifySrc" width="450" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <div>
            1995<mat-slider class="slider" #slider min='{{yearRange[0]}}' max='{{yearRange[1]}}' step="1" value="{{yearRange[2]}}"></mat-slider>{{ yearRange[1] }}
        </div>
        <p><strong>Your answer: {{ slider.value }}</strong></p>
        <button mat-stroked-button (click)="onSubmit(slider.value, track.album.release_date)" [disabled]="didAnswer">Submit</button>
    </mat-card-content>
</mat-card>
